body{
    font-family: 'Crimson Text', serif;
    color: blue;
}
h1,h2{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: red;
}

/* 
#london
{
   color: pink;
}

.capital{
    color: red;
}

.paris.capital{
    background-color: beige;
} */
/* .myspan
{
    padding: 0px 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-top: solid black 2px;
    border-bottom: solid grey 4px;
    background-color: pink;
}
#myparagraph
{
    border-width: 10px;
    border-style: ridge;
    border-color: lightgreen;
    margin: 5px;
} */